.flex {
  display: flex;
  flex-wrap: wrap;
}

.hide-text {
  text-indent: -9999px;
  overflow: hidden;
}

.i-search {
  background: url('../images/i-search-white.png') no-repeat center;
  background-size: 15px auto;
}


.section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}